@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/stylef.css">

<div>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="~/assets/css/stylef.css" rel="stylesheet">

</div>

    <div class="swiper-slider" id="video">
    <div class="video-background">
        @* style="width: 100%; height: 520px; *@
            <video autoplay muted loop playsinline>
                <source src="https://medical-hub.com/website/videos/home-video2.mp4" type="video/mp4">
            </video>
        </div>
    </div>

<div class="text-center">
    <partial name="_IndexDash" />
    <div>

        <section id="hero">
            <div class="hero-content" data-aos="fade-up">
                <h2>Welcome to <span></span><br>Aarogya Sathi</h2>
                <p>Caring for Your Health, Every Step of the Way !!</p>
                <ul>
                    <li>
                        <p>Aarogyasathi site is a digital platform designed to streamline hospital operations, including patient registration, appointment scheduling, medical records management,and more</p>
                    </li>
                    <li>
                        <p>Access your medical history anytime, anywhere, with our secure online portal. Review past diagnoses, treatments, and test results to stay informed about your health journey and empower meaningful conversations with your healthcare team</p>
                    </li>
                    <li>
                        <p>Take control of your health by scheduling appointments with ease. With our intuitive booking system, you can choose the time and date that works best for you and secure your spot with your preferred healthcare provider in just a few clicks</p>
                    </li>
                </ul>  
            </div>
            <div class="hero-slider swiper">
                <div class="swiper-wrapper">
             
                    <div class="swiper-slide"><img src="~/assets/img/2.jpg" alt="" /></div>
                    <div class="swiper-slide"><img src="~/assets/img/3.jpg" alt="" /></div>
                    <div class="swiper-slide"><img src="~/assets/img/4.jpg" alt="" /></div>
                    <div class="swiper-slide"><img src="~/assets/img/5.jpg" alt="" /></div>
                </div>
                <div class="swiper-pagination"></div>
                <div>
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <a href="~/assets/html/doctor.html" class="btn-projects scrollto">Doctor</a>
                </div>
            </div>
        </section>

        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="about">
                <div class="container" data-aos="fade-up">
                    <div class="row">
                        <div class="col-lg-6 about-img">
                            <img src="~/assets/img/about-img.jpg" />
                        </div>
                        <div class="col-lg-6 content">
                            <h2>Welcome to Aarogya Sathi !!</h2>
                            <h3>
                                Wellness can be defined as the act of practicing healthy habits in all areas of your life,
                                including health, fitness, mindfulness, mental health and social well-being.
                            </h3>
                            <ul>
                                <li><i class="bi bi-check-circle"></i> Your Health, Our Commitment. Empowering You Every Step of the Way.</li>
                                <li><i class="bi bi-check-circle"></i> Navigating Health Together. Where Compassion Meets Care.</li>
                                <li><i class="bi bi-check-circle"></i> Join our community of patients today by registering with Aarogyasathi. Your journey towards better healthcare begins here. Provide us with your details, and let us ensure you receive the personalized care you deserve</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section><!-- End About Section -->
        </main>

        <footer class="new_footer_area bg_color">
            <div class="new_footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18"></h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                                <div class="f_social_icon">
                                    <a href="#" class="fab fa-facebook"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_bg">
                    <div class="footer_bg_one"></div>
                    <div class="footer_bg_two"></div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-7">
                            <p class="mb-0 f_400">© AarogyaSathi 2024 All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    $(document).ready(function () {
        var swiper = new Swiper('.hero-slider', {
            loop: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    });
</script>
