

<partial name="_PartialLayoutAboutUs">

        <div style="color:rgb(44, 73, 100)">
            <h2 class="section-title"><b>Our Tech Team!</b></h2>
  
<div class="container mt-5">
    <div class="row justify-content-around">
        <div class="col-md-4 mb-4">
            <div class="card shadow" style="width: 18rem;">
                    <img src="~/img/team/Kanika.jpg" class="card-img-top" alt="Kanika Rawal" height="300px">
                <div class="card-body">
                    <h5 class="card-title">Kanika Rawal</h5>
                        <p class="card-text">
                            Student, PG-DAC, CDAC Khargar<br />
                            Batch - September 2023
                        </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow" style="width: 18rem;">
                    <img src="~/img/team/nishant.jpg" class="card-img-top" alt="Nishant Bangar" height="300px">
                <div class="card-body">
                    <h5 class="card-title">Nishant Bangar</h5>
                        <p class="card-text">
                            Student, PG-DAC, CDAC Khargar<br />
                            Batch - September 2023
                        </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow" style="width: 18rem;">
                    <img src="~/img/team/om.jpg" class="card-img-top" alt="Omkar Yelam" height="300px">
                <div class="card-body">
                    <h5 class="card-title">Omkar Yelam</h5>
                        <p class="card-text">
                            Student, PG-DAC, CDAC Khargar<br />
                            Batch - September 2023
                        </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow" style="width: 18rem;" >
                    <img src="~/img/team/vaibhav.jpg" class="card-img-top" alt="Vaibhav Yadhav" height="300px">
                <div class="card-body">
                    <h5 class="card-title">Vaibhav Yadav</h5>
                        <p class="card-text">
                            Student, PG-DAC, CDAC Khargar<br />
                            Batch - September 2023
                        </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow" style="width: 18rem;">
                <img src="~/img/team/yash.jpg" class="card-img-top" alt="Yash" height="300px">
                <div class="card-body">
                    <h5 class="card-title">Yash Patil</h5>
                        <p class="card-text">
                            Student, PG-DAC, CDAC Khargar<br />
                            Batch - September 2023
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact Us</h2>
                <p>We would love to hear from you !! Feel free to reach out to us for any inquiries or questions.</p>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                            <p>Raintree Marg, near Bharati Vidyapeeth, Sector 7, CBD Belapur, Navi Mumbai, Maharashtra 400614</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                         <p>contact@aarogyasathi.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                            <p>+1 (123) 456-7890</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="#"  role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section>
