/* _content/AarogyaSaathi/Views/Shared/_AdminLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-z7la7a3wfa] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-z7la7a3wfa] {
  color: #0077cc;
}

.btn-primary[b-z7la7a3wfa] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-z7la7a3wfa], .nav-pills .show > .nav-link[b-z7la7a3wfa] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-z7la7a3wfa] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-z7la7a3wfa] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-z7la7a3wfa] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-z7la7a3wfa] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-z7la7a3wfa] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/AarogyaSaathi/Views/Shared/_DoctorLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-3pnr2bw6w2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-3pnr2bw6w2] {
  color: #0077cc;
}

.btn-primary[b-3pnr2bw6w2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-3pnr2bw6w2], .nav-pills .show > .nav-link[b-3pnr2bw6w2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-3pnr2bw6w2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-3pnr2bw6w2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-3pnr2bw6w2] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-3pnr2bw6w2] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-3pnr2bw6w2] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/AarogyaSaathi/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-yexbm6f11e] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-yexbm6f11e] {
  color: #0077cc;
}

.btn-primary[b-yexbm6f11e] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-yexbm6f11e], .nav-pills .show > .nav-link[b-yexbm6f11e] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-yexbm6f11e] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-yexbm6f11e] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-yexbm6f11e] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-yexbm6f11e] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-yexbm6f11e] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/AarogyaSaathi/Views/Shared/_PatientLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-wsqeyqixh9] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-wsqeyqixh9] {
  color: #0077cc;
}

.btn-primary[b-wsqeyqixh9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-wsqeyqixh9], .nav-pills .show > .nav-link[b-wsqeyqixh9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-wsqeyqixh9] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-wsqeyqixh9] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-wsqeyqixh9] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-wsqeyqixh9] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-wsqeyqixh9] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
